@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");


/* base.html */
.container-fluid
{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f8f8f8;
}

.content {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
}

.panel {
    padding: 20px;
    margin-bottom: 20px;

    /* Flexbox styles */
    display: flex;
    justify-content: space-between;  /* Center items horizontally */
    align-items: center;      /* Center items vertically */
}

.index>*
{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.panel>* {
    flex-flow: row;
}

.panel .buttons form {
    display: inline-block;
    margin-right: 10px;
}

button, input[type="submit"]
{
    background-color: darkblue;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color : #f8f8f8;
    border: none;
    padding: 10px 15px;
    box-shadow: -20px 15px 50px #00000015;
}

.buttons
{
    display: flex;
    box-shadow: -20px 15px 50px #00000015;
}

#logged
{

    background-color: white;
    background-image: url("../static/assets/ppl-icon.png");
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
}


/* signup.html */
.header {
    font-size: 24px;
    color: #333;
    text-align: center;
}


/* index.html */
.index-button
{
    font-size: 26px;
    padding: 10px 14%;
    box-shadow: -50px 50px 40px #00000015;
}

.intro-title
{
    padding: 10px 0 0 0;
    font-size: 66px;
}

.intro-text
{
    font-size: 28px;
}

.regions-container
{
    padding: 10px 0 30px 0;
}

.login-button
{
    font-size: 20px;
}

.regions
{
    padding: 6px 12%;
}


/* login.html */
.form-group
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: baseline;
}

.form-group>*, .index>*
{
    margin-top: 10px;
    padding: 10px;
}

#logo
{
    height: 40px;
}

input[type="text"]
{
    font-size: 20px;
}

.login-wrap
{
    margin: 0 20%;
    padding: 5% 0;
    box-shadow: -20px 15px 50px #00000015;
}


/* run.html */
.scrollable-box {
    min-height: 25vh;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.item {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.run-modal
{
    width: 50%;
    display: flex;
    flex-flow: column;
}

.item>button, .add
{
    background-color: darkblue;
    border: none;
    border-radius: 0;
}

.entry-wrap
{
    padding-left: 20px;
    max-height: 55vh;
    overflow-y: scroll;
}

.entry-wrap::-webkit-scrollbar {
    display: none;
}

.entry-wrap {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.runs
{
    display: flex;
    flex-flow: row;
}

.add
{
    width: 40%;
    margin: 30px auto;
}