.header {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.content {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: center;
}

.panel {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;

    /* Flexbox styles */
    display: flex;
    justify-content: center;  /* Center items horizontally */
    align-items: center;      /* Center items vertically */
}

.panel .buttons {
    margin-top: 10px;
}

.panel .buttons form {
    display: inline-block;
    margin-right: 10px;
}