{% extends "base.html" %}

{% block title %}
Edit Prediction
{% endblock %}
{% block content %}
<section id="edit-prediction-container" class="runs container">
    <div id="wrapper" class="row">
        <div id="map-wrapper" class="col-12 col-lg-6 mb-4 mb-md-0 align-content-center">
            <div id="map"></div>
        </div>

        <div id="cards-wrapper" class="col-12 col-lg-6">
            <h3 class="p-0 m-0 text-center">
                Adicionar pontos
            </h3>
            <div class="subtext">
                Adicione novos pontos ao mapa interativo, mova os pinos para selecionar um local e por fim, descarregue um relatório com o projeto.
            </div>
            <div class="add_buttons d-flex py-3 flex-row d-flex flex-row justify-content-center mx-auto">
                <button type="button" class="rounded py-2 mx-1"
                    onclick="addNewDraggablePoint(selectedLocation, 'Fixo')">Ponto fixo</button>
                <button type="button" class="rounded py-2 mx-1"
                    onclick="addNewDraggablePoint(selectedLocation, 'Móvel')">Ponto móvel</button>
            </div>

            <div id="add-new-pins" class="mx-auto my-1 py-1"></div>

            <div class="nav_buttons d-flex py-3 flex-row d-flex flex-row justify-content-center mx-auto">
                <button type="button" class="rounded py-2 mx-1" class=""
                    onclick="pushToRunPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        <path fill-rule="evenodd"
                            d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                    </svg>
                    Voltar</button>
                <button type="button" class="rounded py-2 mx-1" onclick="saveReport()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2"
                    viewBox="0 0 16 16">
                    <path
                        d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z" />
                    </svg> Guardar</button>
                <div class="btn-group share-btn">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share"
                            viewBox="0 0 16 16">
                            <path
                                d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3" />
                        </svg>
                        Partilhar
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
                                viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                            </svg>
                            Enviar por e-mail </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slack"
                            viewBox="0 0 16 16">
                            <path
                                d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111.756 8.43 1.68 8.43h1.682zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682zm6.749 1.682c0-.926.755-1.682 1.68-1.682S16 4.964 16 5.889s-.756 1.681-1.68 1.681h-1.681zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68s.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681z" />
                            </svg> 
                            Enviar para o Slack </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initEditMap"></script>

<script>
    let selectedLocation = null;
    let additionalParams = null;
    let mapsApiKey = '{{ google_map_api_key }}';

    document.addEventListener('DOMContentLoaded', (event) => {
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return decodeURIComponent(urlParams.get(param));
        }

        selectedLocation = {
            lat: parseFloat(getQueryParam('lat')),
            lng: parseFloat(getQueryParam('lng')),
            title: getQueryParam('title')
        }

        additionalParams = {
            period: getQueryParam('period'),
            location: getQueryParam('location')
        }

        // push the location as non draggable
        if (selectedLocation) {
            addNewNonDraggabePoint({
                lat: selectedLocation.lat,
                lng: selectedLocation.lng
            }, selectedLocation.title, true)
        }
    });

    pushToRunPage = () => {
        if (!selectedLocation) {
            window.location.href = '/run';
            return;
        }

        const fullUrl = `/run?lat=${selectedLocation.lat}
                            &lng=${selectedLocation.lng}
                            &location=${additionalParams.location}
                            &period=${additionalParams.period}`;
        document.getElementById("loader").style.display = "block";
        document.getElementById("content").style.display = "none";
        window.location.href = fullUrl;
    }

    function saveReport() {
        // send the data to the server
        document.getElementById("loader").style.display = "block";
        document.getElementById("content").style.display = "none";
        fetch('/save-report', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                points: points.map((point) => {
                    return {
                        lat: point.cordinates.lat,
                        lng: point.cordinates.lng,
                        title: point.title,
                        type: point.type,
                        from: point.from,
                        to: point?.to
                    }
                }),
                location: selectedLocation.title.trim(),
                district: additionalParams.location.trim(),
                period: additionalParams.period.trim(),
                mapData: getImageFromMap(selectedLocation)
            }),
        }).then(() => {
            window.location.href = '/report';
        }).catch(() => {
            document.getElementById("loader").style.display = "none";
            document.getElementById("content").style.display = "block";
        });
    }
</script>

{% endblock %}