{% extends "base.html" %}

{% block title %}
    Página Inicial
{% endblock %}
{% block content %}
<div>
    <h1 class="d-flex flex-column align-items-center justify-content-between intro-title p-0">Bem-vindo!</h1>
    <p class="important d-flex flex-column align-items-center justify-content-between intro-text text-center fs-3">
        Vamos ajudá-lo a decidir onde criar novos pontos de contacto.<br>
        Selecione a região e o periodo de previsão para começar.
    </p>
    <div class="d-flex flex-column align-items-center justify-content-between p-0 pt-1 pb-3">
        <select name="regions" class="regions py-2">
            <option>Lisboa</option>
        </select>
        <select name="years-lookahead" class="years-lookahead m-2 py-2">
            <option>1 ano</option>
            <option>2 anos</option>
            <option>3 anos</option>
            <option>4 anos</option>
            <option>5 anos</option>
            <option>10 anos</option>
        </select>

    </div>
    <form class="d-flex flex-column align-items-center justify-content-between" action="/run" method="GET">
        <button class="index-button shadow fs-3" type="submit">Iniciar</button>
    </form>
</div>
{% endblock %}