{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}
{% block content %}
<div class="index">
    <h1 class="intro-title">Index</h1>
    <p class="important intro-text">
      Welcome to my awesome homepage.
    </p>
    <div class="regions-container">
        <select name="regions" class="regions">
            <option>Lisboa</option>
        </select>
    </div>
    <form action="/run" method="GET">
        <button class="index-button" type="submit">Miaw!</button>
    </form>
</div>
{% endblock %}