{% extends "base.html" %}

{% block title %}
    Autenticação
{% endblock %}
{% block content %}
<div class="w-50 m-auto">
    <div class="rounded shadow p-5">
        <h2 class="text-center fs-1">Autenticação</h2>
        <form action="/login" method="post" class="text-center p-1 important">
            <input type="text" class="form-control px-1 py-2 mt-3 px-5" id="username" name="username" required placeholder="Nome de utilizador">
            <input type="password" class="form-control px-1 py-2 mb-3 mt-3 px-5" id="password" name="password" required placeholder="Palavra-passe">
            <input type="submit" class="auth_login rounded shadow mt-3" value="Iniciar Sessão">
        </form>
    </div>
</div>
{% endblock %}