{% extends "base.html" %}

{% block title %}
Perfil
{% endblock %}
{% block content %}
<section class="w-50 m-auto">
    <div class="rounded login-wrap shadow">
        <h1 class="text-center h1">Perfil</h1>
        <div class="d-flex flex-row row justify-content-between">
            <div class="w-50 m-0 p-0">
                <img class="profile-pic h-75 my-auto" src="../static/assets/ppl-icon-blue.png">
            </div>
            <div class="w-50 m-0 p-0">
                <p class="w-100 fs-5">Nome de Utilizador: {{ user }} </p>
                <!-- <p class="w-100 fs-5">Relatórios gerados: 12 </p> -->
                <form action="/logout" method="GET">
                    <button class="rounded shadow p-2 px-3 fs-5" type="submit">Sair</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}