{% extends "base.html" %}
{% block title %}
Relatórios
{% endblock %}
{% block content %}
<section>
	<h2 class="text-center h1 pa-10 mx-5 my-5 report">Relatórios</h2>
	<div class="bgr d-flex flex-column align-items-center">
		{% for item in report_data %}
		<div class="rounded report-container d-flex align-items-center justify-content-between">
			<div class="image-container p-1">
				<img src="{{ item.report.mapData.image }}" alt="Report map" class="w-100 h-auto" id="reportImage" crossorigin="anonymous">
			</div>
			<div class="w-75 p-3">
				<div class="p-1"><strong>Location:</strong> {{ item.report.cards_table['designacao'] }}</div>
				<div class="p-1"><strong>Created at:</strong> {{ item.created_at }}</div>
				<div class="p-1"><strong>Created by:</strong> {{ item.user }}</div>
			</div>
			<button class="rounded report-btn p-2 fs-6" data-created_at="{{ item.created_at }}"
														data-location="{{ item.report.cards_table['designacao'] }}"
														data-AI="{{ item.report.AI_insight }}"
														data-metric="{{ item.report.cards_table['necessity_metric'] }}"
														data-email="{{ item.email }}"
														data-report="{{ item.report }}" ">Descarregar</button>
		</div>
		{% endfor %}
	</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.70/vfs_fonts.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var buttons = document.querySelectorAll('.report-btn');

        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                const created_at = this.getAttribute('data-created_at');
                const location = this.getAttribute('data-location');
                const AI = this.getAttribute('data-AI');
                const metric = this.getAttribute('data-metric');
                const email = this.getAttribute('data-email');


                let body = this.getAttribute('data-report');
                // hard codding the body for now
                body = {
                    "points":[
                        {
                            "lat":38.727955148876816,
                            "lng":-9.141682914855997,
                            "type":"Móvel"
                        },
                        {
                            "lat":38.724375336926364,
                            "lng":-9.139664291830282,
                            "type":"Fixo"
                        }
                    ],
                    "location":"Loja de Cidadão Saldanha",
                    "district":"Lisboa",
                    "period":"2 anos",
                    "mapData":{
                        "image":"https://maps.googleapis.com/maps/api/staticmap?style=visibility:on&center=38.73137703560319,-9.144382789532516&zoom=14&size=400x400&maptype=roadmap&markers=color:red|label:A|38.73137703560319,-9.144382789532516&markers=color:0x000000|label:A|38.727955148876816,-9.141682914855997&markers=color:0xFCBA03|label:B|38.724375336926364,-9.139664291830282&key=AIzaSyCNB7zNqVvSj_om_E2uiil2mNPb-XqqpJM",
                        "links":[
                            {
                                "A":"https://www.google.com/maps/search/?api=1&query=38.73137703560319,-9.144382789532516",
                                "type":"Ponto selecionado"
                            },
                            {
                                "A":"https://www.google.com/maps/search/?api=1&query=38.727955148876816,-9.141682914855997",
                                "type":"Móvel"
                            },
                            {
                                "B":"https://www.google.com/maps/search/?api=1&query=38.724375336926364,-9.139664291830282",
                                "type":"Fixo"
                            }
                        ]
                    }
                };

                const reportData = {
                    created_at: created_at,
                    location: location,
                    district: body.district,
                    period: body.period,
                    AI_insights: AI,
                    metric: metric,
                    email: email,
                    mapData: body.mapData,
                };

                const imgElement = document.getElementById('reportImage');
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d');

                canvas.width = imgElement.naturalWidth;
                canvas.height = imgElement.naturalHeight;
                ctx.drawImage(imgElement, 0, 0);

                const imageData = canvas.toDataURL('image/png');
                reportData.imageData = imageData;

                createAndDownloadPDF(reportData);
            });
        });
    });

    function createAndDownloadPDF(reportData) {
        // Function to convert AI Insights from HTML to text and split into main and indented parts
        function splitAIInsights(insightsHtml) {
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = insightsHtml;
            const insightsText = tempDiv.textContent || tempDiv.innerText || '';

            const lines = insightsText.split('\n').filter(line => line.trim() !== '');
            const index = lines.findIndex(line => line.includes('Recomendações:'));
            if (index === -1) {
                return { mainContent: lines, indentedContent: [] };
            }
            const mainContent = lines.slice(0, index + 1);
            const indentedContent = lines.slice(index + 1);

            // Make text before ':' bold
            const formattedMainContent = mainContent.map(line => {
                const colonIndex = line.indexOf(':');
                if (colonIndex !== -1) {
                    const beforeColon = line.substring(0, colonIndex + 1);
                    const afterColon = line.substring(colonIndex + 1).trim();
                    return {
                        text: [
                            { text: beforeColon, bold: true },
                            ` ${afterColon}`
                        ],
                        lineHeight: 1.25,
                        margin: 5
                    };
                }
                return { text: line, lineHeight: 1.25, margin: 5 };
            });

            return { mainContent: formattedMainContent, indentedContent };
        }

        const { mainContent, indentedContent } = splitAIInsights(reportData.AI_insights);

        let mapPointsLink = [];
        const possibleLinks = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        for (let i = 0; i < reportData.mapData.links.length; i++) {
            const link = reportData.mapData.links[i]
            mapPointsLink.push({ text: `(${possibleLinks[i]}) - ${link.type}`, link: link[possibleLinks[i]], style: 'link' });
        }

        const docDefinition = {
            content: [
                {
                    text: `${reportData.location}`,
                    style: 'header',
                    alignment: 'center'
                },
                {
                    columns: [
                        { width: '*', text: '' },
                        { text: `Região: Lisboa`, style: 'subheader', width: '25%', alignment: 'left' },
                        { width: '*', text: '' },
                        { text: `Relatório de Previsão`, style: 'subheader', width: '25%', alignment: 'center' },
                        { width: '*', text: '' },
                        { text: 'Período: 2024-2027', style: 'subheader', width: '25%', alignment: 'right' },
                        { width: '*', text: '' }
                    ]
                },
                {
                    canvas: [
                        { type: 'line', x1: 0, y1: 5, x2: 515, y2: 5, lineWidth: 1 }
                    ],
                },
                {
                    image: reportData.imageData,
                    width: 300,
                    alignment: 'center',
                    margin: [0, 20, 0, 20]
                },
                ...mapPointsLink,
                {
                    text: 'IA Insights',
                    style: 'header',
                    alignment: 'center'
                },
                {
                    canvas: [
                        { type: 'line', x1: 0, y1: 5, x2: 515, y2: 5, lineWidth: 1 }
                    ],
                    margin: [0, 20, 0, 20]
                },
                ...mainContent,
                {
                    ul: indentedContent.map(line => ({ text: line, lineHeight: 1.25 })),
                    alignment: 'left',
                    margin: [20, 0, 0, 0]
                },
                {
                    canvas: [
                        { type: 'line', x1: 0, y1: 5, x2: 515, y2: 5, lineWidth: 1 }
                    ],
                    margin: [0, 20, 0, 20]
                },
                {
                    columns: [
                        { width: '*', text: '' },
                        { text: `Created by: ${reportData.email}`, style: 'subheader', width:"50%", alignment: 'center' },
                        { text: `Created at: ${reportData.created_at}`, style: 'subheader', width:"50%", alignment: 'center' },
                        { width: '*', text: '' }
                    ],
                },
            ],
            styles: {
                header: {
                    fontSize: 22,
                    bold: true,
                    margin: [5, 0, 2, 5]
                },
                subheader: {
                    fontSize: 12,
                    margin: [0, 10, 0, 10]
                },
                link: {
                    fontSize: 12,
                    color: 'blue',
                    decoration: 'underline',
                    margin: [10, 0, 10, 0]
                }
            }
        };

        pdfMake.createPdf(docDefinition).download('report.pdf');
    }
</script>
{% endblock %}
