{% extends "base.html" %}

{% block title %}
    Programa
{% endblock %}
{% block content %}

<div id="prediction-container" class="container-fluid runs mt-4">
  <iframe
    width="600"
    height="450"
    class="ma-0 pa-0 border-0 d-flex flex-column"
    loading="lazy"
    allowfullscreen
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?q=42%20Lisboa&key={{ google_map_api_key }}">
  </iframe>
  <div class="w-50 d-flex flex-column">
    <div>
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">"Localização"</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
              <div class="d-flex flex-column justify-content-around">
                <div>
                  <!--BigQuerry Graph-->
                  {{ graph_html[0] | safe }}
                </div>
                <div>
                  <!--BigQuerry Graph-->
                  {{ graph_html[0] | safe }}
                </div>
                <div class="d-flex flex-column justify-content-around">
                  <div>
                    <h5>Procuras</h5>
                    <p>{{data[1]['Procuras']}}</p>
                  </div>
                  <div>
                    <h5>Desistencias</h5>
                    <p>{{data[1]['Desistencias']}}</p>
                  </div>
                  <div>
                    <h5>Tempo medio de espera diario</h5>
                    <p>{{data[1]['Tempo_medio_de_espera_diario']}}</p>
                  </div>
                  <div>
                    <h5>Necessity Metric</h5>
                    <p>{{data[1]['necessity_metric']}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mx-auto">
      Previsões
    </h3>
    <div class="entry-wrap">
      <div class="d-flex flex-column justify-content-center rounded p-2">
        <div class="item">
          <div class="location">
            {{ data[0]['Location'] }}
          </div>
              <!-- Modal Button (Modal is the popup card) -->
          <div class="necessity_metric">
            <span>Necessity metric {{data[0]['necessity_metric']}}</span>
          </div>
          <div class="current_stress">
            <span> 120 </span>
          </div>
          <button type="button" class="btn btn-primary" data-id="{{item}}" data-toggle="modal" data-target="#myModal">
              Abrir
          </button>
        </div>
      </div>
    </div>
    <button type="button" class="add d-flex flex-row justify-content-center" onclick="showEditPredictionPage()">
      Adicionar Pontos
    </button>
  </div>
</div>

<div id="edit-prediction-container" class="container-fluid runs">
  <div class="ma-0 pa-0">
    <div class="row ma-0 pa-0">
      <div class="col ma-0 pa-0">
        <div id="map" class="border-0"></div>
      </div>

      <div class="col run-model pr-0">
        <div class="d-flex flex-row justify-content-between">
          <h3 class="mx-auto">
            Adicionar pontos
          </h3>
        </div>

        <div id="add-new-pins" class="mx-0 my-1 p-1"></div>

        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-row">
            <button type="button" class="mx-1" onclick="addNewDraggablePoint('Fixo')">Adicionar ponto fixo</button>
            <button type="button" class="mx-1" onclick="addNewDraggablePoint('Móvel')">Adicionar ponto móvel</button>
            <button type="button" class="mx-1" class="" onclick="showPredictionPage()">Voltar</button>
            <button type="button" class="mx-1" onclick="saveReport()">Guardar</button>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap" async defer></script>
<script>
  /* map stuff */
  let map;

  async function addNewDraggablePoint(type) {
    // create a new pin
    let newPin = document.createElement("div");
    newPin.className = "new-pin";
    newPin.innerText = type;

    let newPinesContainer = document.getElementById("add-new-pins");
    newPinesContainer.appendChild(newPin);

    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    const randomNess = Math.random() * 0.001;
    const draggableMarker = new AdvancedMarkerElement({
      map,
      position: { lat: 38.73067129535301, lng: -9.129937518620784 + randomNess },
      gmpDraggable: true,
      title: type,
    });

    draggableMarker.addListener("dragend", (event) => {
      const position = draggableMarker.position;

      infoWindow.close();
      infoWindow.setContent(`Pin dropped at: ${position.lat}, ${position.lng}`);
      infoWindow.open(draggableMarker.map, draggableMarker);
    });
  }

  async function initMap() {
    // Request needed libraries.
    const { Map, InfoWindow } = await google.maps.importLibrary("maps");
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
    map = new Map(document.getElementById("map"), {
      center: { lat: 38.73067129535301, lng: -9.129937518620784 },
      zoom: 16,
      mapId: "4504f8b37365c3d0",
    });
    const infoWindow = new InfoWindow();
    const draggableMarker = new AdvancedMarkerElement({
      map,
      position: { lat: 38.73067129535301, lng: -9.129937518620784 },
      gmpDraggable: true,
      title: "This marker is draggable.",
    });

    draggableMarker.addListener("dragend", (event) => {
      const position = draggableMarker.position;

      infoWindow.close();
      infoWindow.setContent(`Pin dropped at: ${position.lat}, ${position.lng}`);
      infoWindow.open(draggableMarker.map, draggableMarker);
    });
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
     document.getElementById("edit-prediction-container").style.visibility = "hidden";
  });

  function showEditPredictionPage() {
    console.log("showEditPredictionPage");
    let predictionContainer = document.getElementById("prediction-container");
    let editPredictionContainer = document.getElementById("edit-prediction-container");

    predictionContainer.style.visibility = "hidden";
    predictionContainer.style.display = "none";
    editPredictionContainer.style.visibility = "visible";
    editPredictionContainer.style.display = "flex";
  }

  function showPredictionPage() {
    let predictionContainer = document.getElementById("prediction-container");
    let editPredictionContainer = document.getElementById("edit-prediction-container");

    predictionContainer.style.visibility = "visible";
    predictionContainer.style.display = "flex";

    editPredictionContainer.style.visibility = "hidden";
    editPredictionContainer.style.display = "none";
  }

  function saveReport() {
    // do a post request to save the report
    console.log("saveReport");
  }
</script>

{% endblock %}
