{% extends "base.html" %}

{% block title %}
Programa
{% endblock %}
{% block content %}

<div class="runs w-100 m-auto">
  <div class="w-100 m-auto p-0">
    <div class="w-100 row m-auto p-0">

      <div id="map_wrapper" class="w-50 p-0">
        <div id="map" class="float-end border-0 m-auto" style="width: 600px"></div>
      </div>
      {% for card in cards_data %}
      <!-- Modal -->
      <div class="modal fade" id="modal-{{card.index}}">
        <div class="custom-modal modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{card.designacao}}</h4>
            </div>
            <!-- Modal Body -->
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="myTab{{card.index}}" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="predicted-data-tab{{card.index}}" data-bs-toggle="tab"
                  href="#predicted-data{{card.index}}" role="tab" aria-controls="predicted-data{{card.index}}"
                  aria-selected="true">Previsões</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="historic-data-tab{{card.index}}" data-bs-toggle="tab"
                  href="#historic-data{{card.index}}" role="tab" aria-controls="historic-data{{card.index}}"
                  aria-selected="false">Dados históricos</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="info-tab{{card.index}}" data-bs-toggle="tab" href="#info{{card.index}}" role="tab" aria-controls="info{{card.index}}" aria-selected="false">Info</a>
              </li>
            </ul>
            <!-- Tab content -->
            <div class="tab-content" id="myTabContent{{card.index}}">
              <div class="tab-pane fade show active" id="predicted-data{{card.index}}" role="tabpanel"
                aria-labelledby="predicted-data-tab{{card.index}}">
                <div class="modal-body">
                  <div class="d-flex flex-column justify-content-around">

                    <div class="graph_box">
                      <div>
                        {{ graph_html[card.index][0] | safe }}
                      </div>
                      <div>
                        {{ graph_html[card.index][1] | safe }}
                      </div>
                    </div>
                    <div class="graph_box">
                      <div>
                        {{ graph_html[card.index][2] | safe }}
                      </div>
                      <div>
                        {{ graph_html[card.index][3] | safe }}
                      </div>
                    <!-- index = year index | card.index = card index starting at the top one | card.index_before_sorting = index based on location list (app.py)-->
                    {% for index in data_by_year[card.index]['Index'] %}
                    <div class="metrics-year">
                      Ano {{data_by_year[card.index]['Ano'][index]}}
                    </div>
                    <div class="metrics-row">
                      <span>Procuras {{ data_by_year[card.index_before_sorting]['Procuras'][index] }}</span>
                      <span>Atendimentos {{ data_by_year[card.index_before_sorting]['Atendimentos'][index] }}</span>
                      <span>Desistencias {{ data_by_year[card.index_before_sorting]['Desistencias'][index] }}</span>
                      <span>Tempo medio de espera diário {{ data_by_year[card.index_before_sorting]['Tempo_medio_de_espera_diario'][index] }}</span>
                      <span>Necessidade {{ data_by_year[card.index_before_sorting]['Necessity_Metric'][index] }}</span>
                    </div>
                    {% endfor %}
                    <div>
                      {{ graph_html_merged[card.index][0] | safe }}
                    </div>
                    <div>
                      {{ graph_html_merged[card.index][1] | safe }}
                    </div>
                    <div>
                      {{ graph_html_merged[card.index][2] | safe }}
                    </div>
                    <div>
                      {{ graph_html_merged[card.index][3] | safe }}

                    </div>
                    <div>
                      {{ graph_html_merged[card.index][4] | safe }}
                    </div>
                    <div class="d-flex flex-column justify-content-around">
                      <div>
                        <h3>IA Insights</h3>
                        <div id="ai-insight">
                          {{ data_analysis[0] | safe }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="historic-data{{card.index}}" role="tabpanel"
                aria-labelledby="historic-data-tab{{card.index}}">
                <div class="tab-pane fade show active" id="predicted-data{{card.index}}" role="tabpanel"
                  aria-labelledby="historic-data-tab{{card.index}}">
                  <div class="modal-body">
                    <div class="d-flex flex-column justify-content-around">
                      <div class="d-flex flex-column justify-content-around">
                        <div>
                          {{ graph_html_historic[card.index][0] | safe }}
                        </div>
                        <div>
                          {{ graph_html_historic[card.index][1] | safe }}
                        </div>
                        <div>
                          {{ graph_html_historic[card.index][2] | safe }}
                        </div>
                        <div>
                          {{ graph_html_historic[card.index][3] | safe }}
                        </div>
                        <div>
                          {{ graph_html_historic[card.index][4] | safe }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="info{{card.index}}" role="tabpanel" aria-labelledby="info-tab{{card.index}}">
                <div class="modal-body">
                  <div class="d-flex flex-column justify-content-around">
                    <h3>Informações das Métricas</h3>
                    <ul>
                        <li><strong>Procuras:</strong> Indica o número de pessoas que procuraram atendimento no serviço durante o mês. Este
                        dado é fundamental para entender a demanda pelo serviço.</li>
                      <li><strong>Atendimentos:</strong> Refere-se ao número de pessoas que efetivamente receberam atendimento no serviço
                        durante o mês. Este ponto de dado ajuda a avaliar a capacidade de resposta do serviço à demanda.</li>
                      <li><strong>Desistências:</strong> Representa o número de pessoas que desistiram de esperar pelo atendimento e não
                        foram atendidas. Este dado é crucial para medir a eficácia do serviço em reter e atender aos seus utentes.</li>
                      <li><strong>Tempo médio de espera diário:</strong> Indica o tempo médio que as pessoas esperaram diariamente para
                        serem atendidas. Este ponto de dado é vital para avaliar a eficiência do serviço e o impacto sobre os utentes.
                      </li>
                      <li><strong>Necessidade:</strong>
                        <ul>
                          <li>A métrica de Necessidade é derivada considerando o limite de tempo de espera definido e os fatores de
                            crescimento e densidade populacional. Ela é calculada para identificar a urgência e a necessidade de melhorar
                            os serviços oferecidos.</li></br>
                          <li><strong>Como é derivada:</strong></li></br>
                            <ul>
                              <li><strong>Limite de tempo de Espera:</strong> Define o tempo máximo aceitável que uma pessoa pode esperar
                                antes que a situação seja considerada crítica.</li>
                              <li><strong>Crescimento Populacional:</strong> Refere-se ao aumento da população na área servida, o que pode
                                aumentar a demanda pelos serviços.</li>
                              <li><strong>Densidade Populacional:</strong> Reflete o número de pessoas numa área específica, influenciando
                                diretamente a procura pelos serviços.</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>

 

              </div>

            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-dark px-3" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="w-50 m-auto col p-0">
        <h3 class="p-0 m-0 text-center">
          Previsões
        </h3>
        <div class="entries m-auto my-1 px-3 py-1 w-100">
          <div class="sort item w-100 title mx-auto py-0 w-100">
            <div class="w-100 title-cont py-0 d-flex flex-row align-items-center justify-content-between">
              <h6 class="py-0 text-left">Lisboa</h6>
              <h6 class="py-0 text-right">2024-2027</h6>
            </div>
          </div>
          <!-- Sort field -->
          <div class="sort text-center my-2">
            <label for="sortField">Sort by: </label>
            <select id="sortField" onchange="sortCards()">
              <option value="necessity_metric">Necessity Metric</option>
              <option value="designacao">Designation</option>
            </select>
          </div>
          <!-- Entries for each location -->
          {% for card in cards_data%}
          <div class="item py-3 my-2 specific-location" id="{{card['designacao']}}"
            data-location="{{card['designacao']}}">
            <div class="d-flex flex-row">
              <div class="d-block p-0 mx-3 rounded-circle color-mark indicator" data-necessity="{{ card['necessity_metric'] }}"></div>
            </div>
            <div class="row w-75 m-auto pl-2">
              <div class="col-7">
                <span>{{ card['designacao'] }}</span>
              </div>
              <div class="col-5">
                <span>Necessidade: {{ card['necessity_metric'] }}%</span>
              </div>
            </div>
            <!-- Modal Button  -->
            <button type="button" class="btn btn-primary w-25 rounded" data-id="{{card.index}}" data-toggle="modal"
              data-target="#modal-{{card.index}}">
              Detalhes
            </button>
          </div>
          {% endfor %}
        </div>
        <div class="w-100">
          <div class="mt-4 d-flex flex-row d-flex flex-row justify-content-center mx-auto">
            <button id="add_button" type="button" class="rounded py-2 mx-1 add_button_class"
              onclick="pushToEditPage()">Adicionar
              pontos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}&callback=initMap"></script>

<script>
  let selectedLocation = null;

  const cords = [
    {
      lat: 38.73137703560319,
      lng: -9.144382789532516,
      title: 'Loja de Cidadão Saldanha'
    },
    {
      lat: 38.750402670143856,
      lng: -9.17123563186069,
      title: 'Loja de Cidadão Laranjeiras'
    }
  ];


  document.addEventListener('DOMContentLoaded', (event) => {
    addExistingPoints();

    let addButton = document.getElementById('add_button');
    addButton.disabled = true;
    addButton.classList.add('disabled-btn');

    // get all the classes with specific-location and attach a click event that called chooseThisLocation
    allLocationElements = document.getElementsByClassName('specific-location');
    for (let index = 0; index < allLocationElements.length; index++) {
      allLocationElements[index].addEventListener('click', function () {
        // chooseThisLocation(this);
        let addButton = document.getElementById('add_button');
        addButton.disabled = false;
        addButton.classList.remove('disabled-btn');


        const location = this.getAttribute('data-location');
        for (let i = 0; i < allLocationElements.length; i++) {
          allLocationElements[i].classList.remove('selected-location');
        }

        this.classList.add('selected-location');
        selectedLocation = _.head(_.filter(cords, cord => cord.title === location));
      });
    }
  });

  function addExistingPoints() {
    cords.forEach(cord => {
      addNewNonDraggabePoint({ lat: cord.lat, lng: cord.lng }, cord.title, true);
    });
  }

  function getQueryParam(param) {
    const urlParams = new URLSearchParams(window.location.search);
    // decode the url
    return decodeURIComponent(urlParams.get(param));
  }

  function colorize(vars, elem) {
    let num = parseInt(vars);
    if (num <= 33)
      elem.style.backgroundColor = "green";
    else if (num <= 66)
    {
      elem.style.backgroundColor = "yellow";
    }
    else
      elem.style.backgroundColor = "rgb(199, 0, 0)";
  }

  pushToEditPage = () => {

    // get selected location and its cords
    const url = `/edit?lat=${selectedLocation.lat}
                      &lng=${selectedLocation.lng}
                      &title=${selectedLocation.title}
                      &location=${getQueryParam('location')}
                      &period=${getQueryParam('period')}`;
    window.location.href = url;
  }

  window.onload = function() {
    const indicators = document.querySelectorAll('.indicator');
    indicators.forEach(function(element) {
      const necessityMetric = element.getAttribute('data-necessity');
      colorize(necessityMetric, element);
    })
  };
</script>

{% endblock %}